# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-4provjera-vjezba-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/Makefile
4provjera-vjezba/4provjera-vjezba.pro.user
build-4provjera-vjezba-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/.qmake.stash
4provjera-vjezba/4provjera-vjezba.pro.user
4provjera-vjezba/4provjera-vjezba.pro.user
4provjera-vjezba/4provjera-vjezba.pro.user
4provjera-vjezba/4provjera-vjezba.pro.user
